@model List<Data.Domain.Entities.Phone>
@{
    ViewData["Title"] = "Index";
}

<div>
    <div>
        <ul>
            @foreach (var item in Model)
            {
            <li>
                <h2>@item.Name</h2>
                <h3>@item.Count</h3>  
            </li>
            }
        </ul>
    </div>
</div>

